.App {
  text-align: center;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  width:100%;
  height:100%;


  background: rgb(35,34,42);
  background: linear-gradient(180deg, rgba(35,34,42,1) 0%, rgba(102,114,128,1) 69%, rgba(162,180,175,1) 94%);
}

#register-container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0; 
  width:100%;
  height:100%;
}

.header-bottom-margin{
  margin-bottom: 90%;
}

.opacity-95{
  opacity:0.95;
}
.colour-white{
  color:white;
}